* {
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  color: #a8bfc9;
  background-color: #1A2A33;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  position: relative; }

.container {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
  border: solid black;
}

.container > div {
  text-align: center;
  width: calc(100% / 3);
  background-color: #1F3641;
  border: solid red 1px;
}

.main-content {
  display: grid;
  margin: 4.5rem 0;
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(3, 1fr);

  }
  .game-board {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 14rem);
    grid-template-rows: repeat(3, 14rem);
    grid-gap: 2rem; }

    .game-board-grid-item { 
      padding: 3.8rem;
      background-color: #1F3641;
      border-radius: 1.5rem;
    }

    /* Add pointer to show interactability. */
    .game-board-grid-item:hover {
      cursor: pointer; 
    }

.tic-box {
    width:  15vh;
    height:  15vh;
    border: 1px solid;
  }

  .turn_icon {
    fill: #A8A8A8;
  }

.players-icons {
  padding-left: 0;
}


.moves-icons {
  margin-top: 0.5em;
  margin-right: 0.6em;
}
